<header><img width="100" height="100" src="/img/test.jpg" alt="Meadowlark Travel Logo"></header>
<h1>About Meadowlark Travel</h1>
<p>Your fortune for the day:</p>
<blockquote>{{fortune}}</blockquote>
<blockquote>message: {{message}}</blockquote>
<blockquote>style: {{style}}</blockquote>
<blockquote>userid: {{userid}}</blockquote>
<blockquote>username: {{username}}</blockquote>